.body{
 background-color: #595648;
 text-align: left;
}
h1{
    color:#A3C0FD;
    font-family: 'Arial', 'Verdana', 'Trebuchet MS','Georgia', 'Tahoma', 'Courier New', 'Times New Roman';

}
h2{
    color:#A3C0FD;
    font-family: 'Arial', 'Verdana', 'Trebuchet MS','Georgia', 'Tahoma', 'Courier New', 'Times New Roman';
}
ol {
    list-style-type: decimal;
    display: flex;
    flex-direction: column-reverse;
}
.Italic{
    font-style: italic;
}
.fColor{
    color: #DCD9D6;
    font-size: 12px;
}
.image{
    width: 30%;
}
.highLight{
    color: #EEEE9B;
    font-weight: bold;
}
/* unvisited link */
a:link { color: #FF0000; 
    text-decoration: none;
}
/* visited link */
a:visited { color: #FF0000; 
    text-decoration: none;
}
/* mouse over link */
a:hover { color: #0000FF; 
    text-decoration: none;
}
/* click on a link */
a:active { color: #0000FF; 
    text-decoration: none
}
.img{
    width: 10%;
}
.flip:hover{
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
.first::first-letter {
    font-size: x-large; /* Increase the size of the first letter */
    font-weight: bold; /* Make it bold */
}
.pad{
    padding-left: 30px;
}
